.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
}

img {
    position: absolute;
}

h1 {
    margin-top: 25%;
    color: red;
    font-family: "Futura Std";
}

button {
    font-family: "Futura Std Condensed";
    color: red
}